.sidebar{
    width:200px;
    margin-top: 20px;
    text-align:left;
}

.list-group a:hover{
    color:dodgerblue;
}

.search-icon{
    position: relative;
    z-index: 1;
}

.search-input{
    position: absolute;
    z-index: 0;
}

